$primary-color: lime;
#services {
    i {
        border: 5px solid darken($primary-color, 20);
        background-color: darken($primary-color, 20);
        color: #fff;
        border-radius: 50%;
    }
}

h1 {
    color: $secondary-color;
}

h2 {
    color: darken($primary-color, 20);
}

#about,
.why-us,
.more-info1,
.more-info2 {
    h3 {
        border: 2px solid darken($primary-color, 30);
        background-color: darken($primary-color, 30);
        color: $primary-color;
        border-radius: 5px;
        max-width: 80%;
    }
}

h3 {
    color: darken($primary-color, 30);
}

button {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}